$bg-img-old-man: url('../img/Old_Man_Of_Storr.jpg')

    
body 
    margin: 0

.background-container
    width: 100vw
    height: 100vh

.background-md
    background-image: $bg-img-old-man
    background-size: cover
    background-repeat: no-repeat
    
   